:root{
--bs-light-rgb: 171, 30, 43;
}

select {
    border-radius: 10px;
}

img {
    max-width: 100%;
    max-height: 600px;
}

a {
    text-decoration: none;
    color: #000;
}

.sortMenuSelect {
    margin-top: -3%;
}

.btn-color{
    color: #fff;
    background-color: #ab1e2b;
    border-color: #ab1e2b;
}

.photo-info{
    margin-bottom: 17.25rem;
}

.main-name {
    font-family: monospace;
}

.main-info {
    font-family: monospace;
    font-style: italic;
    font-weight: normal;
    margin-top: 30px;
    text-align: center;
}

.main_img {
    height: 300px;
}

.link {
    padding-top: 2%;
    padding-right: 2%;
}

.link li {
    list-style-type: none;
}

.add_to_card {
    display: block;
    background-color: #ab1e2b;
    text-decoration: none;
    color: #fff;
    width: 120px;
    text-align: center;
    height: 30px;
    font-weight: bold;
    margin: 20px 0px;
    border-radius: 5px;
}

#button_minus,
#num_count,
#button_plus {
    border: none;
}

.input-group {
    display: inline-block;
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0px;
}

#num_count {
    text-align: center;
}

.sortMenu {
    display: flex;
    flex-direction: column;
}

#headerInside {
    width: 1100px;
    margin: 0 auto;
}

.mt-20 {
        margin-top: 9rem !important;
}

#logo {
    width: 50px;
    height: 50px;
    float: left;
    background: url('../images/train.png') no-repeat;
    background-size: contain;
}

#companyName {
    text-align: right;
    font-family: Huntsman, sans-serif;
    float: left;
    margin-left: 15px;
    font-size: 1.3em;
    line-height: 50px;
    color: #fff;
}

#navWrap {
    height: 50px;
    float: right;
    display: flex;
    align-items: center;
    flex-direction: row;
}


#navWrap a {
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 20px;
    height: 70px;
    line-height: 70px;
}

#basket {
    height: 40px;
    text-align: center;
    width: 40px;
    vertical-align: middle;
}

#navWrap a:hover {
    background: #5e5e5e;
}

#navWrap a:last-child {
    border-left: none;
}

#content {
    min-height: 600px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

#contentShedule {
    display: flex;
    min-height: 600px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

footer {
    float: left;
    width: 100%;
    height: 300px;
    background-color: #ab1e2b;
}

#footerInside {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    height: 100%;
}

#copyrights {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#social {
    padding-top: 20px;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.socialItem {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

#contacts {
    position: absolute;
    left: 0;
    top: 20px;
    width: 340px;
    color: white;
}

.contactWrap {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    line-height: 40px;
}

.contactIcon {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}

#footerNav {
    position: absolute;
    left: 0;
    top: 45px;
    width: 200px;
}

#footerNav a {
    display: block;
    text-align: left;    
    color: #e6e09a;
    margin-bottom: 10px;
    text-decoration: none;
}

#footerNav a:hover {
    color: #fff;
}


/* -------------------- НАЧАЛО стилей для главной страницы --------------------- */

#promo {
    background: #000000;
    width: 100%;
    height: 600px;
    background-size: cover;
    margin-top: -71px;
    float: left;
}

#promoText {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    color: #000;
    font-family: Exo, sans-serif;
    font-size: 2em;
    word-spacing: 8px;
}

#mainTextWrap {
    width: 100%;
    float: left;
}

#mainText {
    width: 90%;
    margin: 40px auto;
    text-align: justify;
}

@media all and (min-width: 1500px) {
    #promo {
        height: 800px;
    }
}


/* ----------------- КОНЕЦ стилей для главной страницы ---------------------- */


/* ------------------ НАЧАЛО стилей для главной страницы магазниа ---------------------- */

#shopWrap {
    width: 100%;
    float: left;
}

.shopUnit {
    border-radius: 10px;
    float: left;
    padding: 5px;
    width: 100%;
    border: 1px solid rgba(225, 225, 225, 0.7);
    margin-right: 2%;
    margin-bottom: 20px;
}

.shopUnit:nth-child(3n) {
    margin-right: 0;
}

.shopUnitInfo {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 70%;
    text-align: center;
    margin-top: 10px;
    font-family: Exo, sans-serif;
    font-size: 1.2em;
}

.feedback_form {
    width: 50%;
    margin-top: 4%;
    margin-left: 25%;
}

.sort {
    width: 20%;
    padding-right: 50px;
}

.unitTime {
    font-size: small;
}

.unitDate {
    font-size: smaller;
}

.unitPoints {
    font-size: large;
}

.shopUnit img {
    width: 100%;
    height: 231px;
}

.shopUnitShortDesc {
    text-align: justify;
    margin-top: 10px;
}

.shopUnitPrice {
    text-align: right;
    padding-right: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.shopUnitMore {
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    background-color: #ab1e2b;
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.shopUnitMore:hover {
    color: #fff;
    background-color: #777777;
}


/* ------------------ КОНЕЦ стилей для главной старницы магазина -------------------------- */


/* ---------------- НАЧАЛО стилей для страницы с открытым товаром ----------------------- */

#openedProduct-img {
    float: left;
    width: 30%;
    margin-right: 3%;
}

#openedProduct-img img {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(225, 225, 225, 0.7);
}

#openedProduct-content {
    float: left;
    width: 67%;
}

#openedProduct-name {
    font-family: Exo, sans-serif;
    font-size: 2em;
    margin-top: 0;
}

#openedProduct-desc {
    margin-top: 20px;
}

#openedProduct-price {
    margin-top: 10px;
    color: #6a6747;
    font-weight: bold;
}


/* ---------------- КОНЕЦ стилей для страниы с открытым товаром -------------------------- */


/* ---------------- Начало стилей для страниы с личным кабинетом ---------------*/

#range1 {
    height: 100%;
    width: 100%;
    min-height: 400px;
}

#range1 .login-wr {
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    border-radius: 5px;
    padding: 15px;
}

#range1 h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #000000;
}

#range1 .form {
    padding-top: 20px;
    text-align: center;
}

.form_text {
    text-align: left;
    padding-left: 40px;
    margin-bottom: 10px;
}

#range1 input[type="text"],
#range1 input[type="password"],
#range1 input[type="email"],
#range1 input[type="file"],
#range1 button {
    width: 80%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
}
#range1 input[type="email"],
#range1 input[type="text"],
#range1 input[type="password"] {
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
}

#range1 a {
    text-align: center;
    color: #3498db;
}

#range1 button {
    background: #ab1e2b;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
}


/*---------------------------Форма авторизированного пользователя-------------------------------------------------*/

#login table {
    width: 100%;
    /* Ширина таблицы */
    border-spacing: 7px 11px;
    /* Расстояние между ячейками */
}



#login td a {
    color: white;
}

.exit {
    text-align: center;
    background: #ab1e2b;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
}
